@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Serif+Devanagari:wght@100..900&family=Sedan+SC&display=swap');


.body {
    padding: 0px;
    margin: 0px;

}

.brnad-logo {
    height: 120px;
    width: 120px;
    margin-top: 50px;
    position: relative;
    left: 50px;
}

.frame {
    height: 600px;
    width: 1000px;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 0px 20px #ac00e6;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-txt {
    position: absolute;
    font-size: medium;
    left: 360px;
    top: 150px;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    position: absolute;
    display: block;
    left: 640px;
    top: 60px;
    color: #0080ff;


}

span {
    color: red;
}

.certificate-name {
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    left: 540px;
    top: 120px;
    color:
        #4705ab;
}

.certificate-of {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 680px;
    top: 190px;
    letter-spacing: px;
    color: #5d22b6;
}

.line {
    position: absolute;
    left: 540px;
    top: 150px;
    font-size: 75px;
    color: #2d1137;
}

.sat {
    font-size: 23px;
    position: absolute;
    left: 590px;
    top: 240px;
    color: #4705ab;
    font-weight: 800;
}

.sat1 {
    font-size: 18px;
    position: absolute;
    left: 700px;
    top: 390px;
    color: #4705ab;
    font-weight: 700;
}

.certificate-TITLE {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 550px;
    top: 420px;
    color:
        #4705ab;
}

.sat2 {
    font-size: 18px;
    position: absolute;
    left: 620px;
    top: 460px;
    color: #4705ab;
    font-weight: 700;
}

.name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div1 {

    position: absolute;
    left: 300px;
    top: 580px;
    color: black;
}

.name {
    position: absolute;
    top: -20px;
    margin-left: 20px;
    color: black;
}

.line1 {
    position: absolute;
    margin-top: -10px;
    left: 10px;
    color: black;
    font-weight: bold;
}
.line2
{
    position: absolute;
    margin-top: -10px;
    left: 10px;
    color: black;
    font-weight: bold;

}

.tit {
    color: black;
    font-weight: bold;

}

.div2 {

    position: absolute;
    left: 1130px;
    top: 565px;
    color: black;

}

.tit1 {
    position: absolute;

    left: 30px;
    color: #2d1137;
    font-weight: bold;
}
@media screen and (min-width: 600px)
{
    .body {
       
        padding: 0px;
    
    }

    .frame {
        height: 500px;
        width: 900px;
        margin-right: 800px;
        margin-left: 50px;
    }

    .logo-txt {
    display: none;   
    }

    .title {
        position: absolute;
        display: block;

        left: 465px;
        top: 60px;
    }


    .certificate-name {

        position: absolute;
        left: 320px;
        top: 133px;
        font-size: 65px;

    }

    .certificate-of {

        position: absolute;
        left: 440px;
        top: 200px;
    }

    .line {
        left: 310px;
    }

    .sat {
        left: 350px;
    }

    .sat1 {
        left: 470px;
    }

    .certificate-TITLE {

        left: 320px;
    }

    .sat2 {
        left: 400px;
    }

    .con {
        display: flex;
        align-items: center;

    }

    .name {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .div1 {
        left: 80px;
        top: 480px;
        color: black;
    }

    .name {
        position: absolute;
        top: -20px;
        margin-left: 20px;
        color: black;
    }

    .line1 {
        position: absolute;
        margin-top: -10px;
        left: 10px;
        color: black;
        font-weight: bold;
    }
    .line2
    {
        position: absolute;
        margin-top: -10px;
        left: 10px;
        color: black;
        font-weight: bold;
    }

    .tit {
        color: black;
        font-weight: bold;

    }

    .div2 {
        display: flex;
        left: 830px;
        top: 480px;
        color: black;

    }

    .tit1 {
        position: absolute;

        top: 20px;
        color: #2d1137;
        font-weight: bold;

    }


}
@media screen and (min-width: 601px) and (max-width:768px)
/* normal devices */
{
    
    .body {
        margin: 0px;
        padding: 0px;
    }

    .frame {
        height: 500px;
        width: 900px;
        margin-right: 800px;
        margin-left: 50px;




    }

    .logo-txt {
    display: none;   
    }

    .title {
        position: absolute;
        display: block;

        left: 400px;
        top: 60px;
    }


    .certificate-name {

        position: absolute;
        left: 320px;
        top: 133px;
        font-size: 65px;

    }

    .certificate-of {

        position: absolute;
        left: 440px;
        top: 200px;
    }

    .line {
        left: 310px;
    }

    .sat {
        left: 350px;
    }

    .sat1 {
        left: 470px;
    }

    .certificate-TITLE {

        left: 320px;
    }

    .sat2 {
        left: 400px;
    }

    .con {
        display: flex;
        align-items: center;

    }

    .name {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .div1 {
        left: 80px;
        top: 480px;
        color: black;
    }

    .name {
        position: absolute;
        top: -20px;
        margin-left: 20px;
        color: black;
    }

    .line1 {
        position: absolute;
        margin-top: -10px;
        left: 10px;
        color: black;
        font-weight: bold;
    }
    .line2
    {
        position: absolute;
        margin-top: -10px;
        left: 10px;
        color: black;
        font-weight: bold;
    }

    .tit {
        color: black;
        font-weight: bold;

    }

    .div2 {
        display: flex;
        left: 830px;
        top: 480px;
        color: black;

    }

    .tit1 {
        position: absolute;

        top: 20px;
        color: #2d1137;
        font-weight: bold;

    }

}


